extends layout

block content
  h1 Easy Temperature Sensor (ETS) kit

  hr
  .row
    .col-sm-12
      h2 Ανάγκη
      p
        | Τα τελευταία χρόνια όλο και περισσότερες ενέργειες γίνονται σε παγκόσμιο επίπεδο για την διασφάλιση της ποιότητας των τροφίμων και των λοιπόν προϊόντων
        | (φάρμακα, πρώτες ύλες, ευαίσθητα υλικά) που αποθηκεύονται και διακινούνται. Για παράδειγμα έχουν θεσπιστεί αυστηρότεροι νόμοι σχετικά με τις θερμοκρασιακές συνθήκες συντήρησης
        | και κατάψυξης τροφίμων ώστε να διασφαλιστεί η ποιότητά τους. Έτσι λοιπόν μια νέα ανάγκη έχει προκύψει, προκειμένου να καταστεί η διαδικασία πιο εύκολη για το χρήστη, αυτοματοποιημένη και αξιόπιστη.
        br
        br
        | Η ανάπτυξη του ETS kit έγινε για να καλύψει οικονομικά και αξιόπιστα την ανάγκη καταγραφής κλιματολογικών δεδομένων εντός επαγγελματικών και οικιακών ψυγείων ή λοιπών θαλάμων συντήρησης ή/και κατάψυξης προϊόντων. Η απαίτηση αυτή είναι σημαντική για τη διατήρηση των προϊόντων σε άριστη κατάσταση  αλλά και για την εναρμόνιση με την Ελληνική και διεθνή νομοθεσία (HACCP, EUR-Lex, ΕΦΕΤ κ.α). Τέτοιες ψυκτικές εγκαταστάσεις συναντάει κανείς σε επιχειρήσεις εστίασης, εμπορίας και διανομής τροφίμων, εργαστήρια, βιομηχανίες και αλλού

  .row
    .col-sm-12
      h2 Ιδέα
      p Έπειτα από αρκετές συναντήσεις και διεργασίες των μελών της η ομάδα GR-IoT αποφάσισε να δημιουργήσει ένα πρωτότυπο μιας εύχρηστης ομάδας συσκευών (kit). Το kit αυτό θα έχει τη δυνατότητα μέτρησης, αποστολής και online καταχώρησης των τοπικών κλιματολογικών συνθηκών σε θαλάμους συντήρησης και κατάψυξης ή ακόμα και σε μικρού μεγέθους ψυγεία.
  .row
    .col-sm-12
      h2 Πρόσβαση απο παντού
      p
        | Εύκολη πρόσβαση όλων των δεδομένων απο σας απο πολλές συσκεύες.
        | Δε χρειάζεται να έχετε wifi ή πρόσβαση σε GSM δίκτυο για να συλλέξετε τα δεδομένα θερμοκρασίας.
  .row
    .col-sm-12
      h2 Σύντομη Περιγραφή
      p
        | Το ETS kit είναι μία πρωτότυπη ομάδα συσκευών οι οποίες          πρώτον μετρούν κλιματολογικά μεγέθη (θερμοκρασία και υγρασία) και δεύτερον μεταδίδουν αυτές τις μετρήσεις ασύρματα σε έναν κεντρικό υπολογιστή όπου μπορούν να εμφανίζονται σε μια διαδικτυακή πλατφόρμα, επιτρέποντας στο χρήστη με τους κωδικούς του να έχει πρόσβαση σε αυτά καθώς και να εκδίδει αναφορές (report) εύκολα και γρήγορα. Η κύρια επιδίωξη αυτής της ιδέας είναι να συμπεριλάβει τη φιλοσοφία του Διαδικτύου των πραγμάτων (IoT), η οποία εκμεταλλεύεται την ασύρματη επικοινωνία μεταξύ πολλών μικρών συσκευών, προκειμένου να δημιουργηθεί ένα ευρύ δίκτυο ανταλλαγής πληροφοριών.
  .row
    .col-sm-12
      h2 Καινοτομία
      p
        | Η καινοτομία του ETS kit έγκειται κυρίως στο δίκτυο που χρησιμοποιεί για τη μετάδοση των μετρήσεων και των λοιπών πληροφοριών. Το δίκτυο αυτό είναι το                   «The Things Network» το οποίο προσφέρει μεγάλη εμβέλεια κάλυψης και χαμηλή κατανάλωση ενέργειας. Το δίκτυο αυτό χρησιμοποιεί το πρωτόκολλο μετάδοσης δεδομένων Lora. To LoRa είναι από τα πλέον δημοφιλή και ταχύτερα αναπτυσσόμενα πρωτόκολλα στο χώρο του Internet of Things. Στοχεύει σε δίκτυα ευρείας περιοχής (wide-area networks), που αποκαλούνται LoRaWAN, και είναι σχεδιασμένο να προσφέρει υπηρεσίες σε WAN δίκτυα χαμηλής ενεργειακής κατανάλωσης. Υποστηρίζει αμφίδρομη, κρυπτογραφημένη επικοινωνία εξαιρετικά χαμηλού κόστους. Έχει γίνει αρκετά δημοφιλές σε εφαρμογές έξυπνων πόλεων, που, λόγω της αρκετά μεγάλης εμβέλειας και χαμηλής ενεργειακής κατανάλωσης που προσφέρει καθίσταται ιδανικό για τις εφαρμογές που αναπτύσσονται σε αυτόν τον τομέα. Το LoRaWAN αναπτύσσεται και συντηρείται μέσω ενός διεθνή οργανισμού που ονομάζεται LoRa Alliance. Το LoRa Alliance είναι ενας ανοιχτός, μη κερδοσκοπικός φορέας μελών που έχουν σαν κοινή προοπτική ότι η εποχή του Διαδικτύου των αντικειμένων είναι τώρα. Ο στόχος αυτού του φορέα είναι να δημιουργήσει ένα κοινό πρωτόκολλο χαμηλής κατανάλωσης και ευρείας περιοχής (wide area) για τη χρήση του από δίκτυα, έτσι ώστε να δώσει σάρκα και οστά στην ολότητα που ονομάζεται Διαδίκτυο των Πραγμάτων. Διαβάστε περισσότερα εδώ. Επίσης καινοτόμο είναι το στοιχείο των πολλαπλών επιλογών χρήσης που διαθέτει η ηλεκτρονική πλατφόρμα. Οι επιλογές αυτές είναι σε διαρκή διαδικασία εξέλιξης και υπάρχει η δυνατότητα παραμετροποίησης σύμφωνα με τις ανάγκες τις εκάστοτε εγκατάστασης.

      .row
        .col-sm-12
          h2 Tεχνική περιγραφή
          h3 Hardware
          p.solution-info
            | Το ETS kit αποτελείται από:
            br
            br
            | 1 Dragino  Lora Shield
            img(src="images/dragino_lora_shield.jpg")
            | 1 Arduino Mega 2560
            img(src="images/arduino_mega.jpg")
            | 4 Μπαταρίες επαναφορτιζόμενες τύπου ΑΑ συνολικής χωρητικότητας 4000mAh στα 5Volts η οποία μας δίνει μια αυτονομία της τάξης των 100 ωρών υπό συνθήκες θερμοκρασίας δωματίου (28°C), 80 ωρών υπό συνθήκες μέσης συντήρησης τροφίμων (5°C) και 66 ώρες υπό συνθήκες μέσης κατάψυξης τροφίμων (-8°C).
            img(src="images/batteries.jpg")
            | 1 Στεγανό κουτί  με προστασία κλάσης IP65
            img(src="images/box.jpg")
            | 1 Αισθητήρα Θερμοκρασίας – Υγρασίας DHT22 ο οποίος μπορεί να αντιληφθεί και να καταμετρήσει θερμοκρασίες από -40 έως 80 βαθμούς Κελσίου και υγρασία από 0 έως 100%. Λόγω της χαμηλής κατανάλωσης ρεύματος (2.5mA το μέγιστο) αλλά και του μικρού του μεγέθους και βάρους, ο αισθητήρας αυτός είναι ενεργειακά κατάλληλος για περιβάλλον τροφοδοσίας από μπαταρία. Ο DHT22 χρησιμοποιεί έναν επαγωγικό αισθητήρα θερμοκρασίας για να πάρει δείγματα από τον αέρα και να τα μετατρέψει στις ανάλογες τιμές, μετά από βαθμονόμηση.
            img(src="images/temp_sensor.jpg")
          h3 Software
          p To λογισμικό του ETS Kit βασίζεται:
          ul
            li στo δίκτυο Lora-wan το οποίο έχει στηθεί απο το
              a(href="https://www.thethingsnetwork.org/",target="_blank")  The Things Network
              |  και μέλη της κοινότητας
              a(href="https://www.thethingsnetwork.org/c/athens",target="_blank")  The Things Network Athens
            li στο πρωτόκολλο επικοινωνίας
             a(href="http://mqtt.org/",target="_blank")  MQTT
            li στη βάση δεδομένων
              a(href="https://www.mongodb.com/",target="_blank")  Mongo DB
            li σε τεχνολογίες διαδικτύου,
              a(href="https://nodejs.org/en/",target="_blank")  Node.js stack
          p Σαν λύση που συνδιάζει όλα τα παραπάνω είναι δημοσιευμένο στο αποθετήριο κώδικα
            a(href="https://github.com/AlexJoom/gr-iot-temperature-sensor",target="_blank")  Github
            |  με ανοικτή άδεια χρήσης (APACHE 2.0)