extends layout

block content
  h1 Easy temperature Sensor kit
  p.lead Μια end-to-end λύση μέτρησης θερμοκρασίας με χρήση του Lora δικτύου The Things Network
  hr
  .row
    .col-sm-6
      h2 Plug 'n' play
      p Mε το που ενεργοποιήσετε το kit ξεκινά αυτόματα να στέλνει δεδομένα θερμοκρασίας στο λογαριασμό σας.
    .col-sm-6
      h2 Ανοικτό λογισμικό/hardware
      p
        | Πρόκειται για
        a(href="https://github.com/AlexJoom/gr-iot-temperature-sensor",target="_blank")  λύση ανοικτού λογισμικού
        |  η οποία αποφέρει μειώση στα κόστη προσαρμογής και συντήρησης.

  .row
    .col-sm-6
      h2 Πρόσβαση απο παντού
      p
        | Εύκολη online πρόσβαση όλων των δεδομένων απο πολλές συσκεύες.
        | Δε χρειάζεται να έχετε wifi ή πρόσβαση σε GSM δίκτυο για να συλλέξετε τα δεδομένα θερμοκρασίας.

    .col-sm-6
      h2 Έξυπνες ειδοποιήσεις
      p Λαμβάνετε ειδοποιήσεις όταν κάτι παέι στραβά! Μπορείτε να εξάγετε όλες τις μετρήσεις σε διάφορα formats.