extends layout

block content
  h1 Temperature demo
  p.lead An end-to-end solution demonstrating temperature measurement via TTN
  hr
  .row
    .col-sm-6
      h2 Plug 'n' play
      p You just turn the sensor on and it will start transporting temperature data into your account.
    .col-sm-6
      h2 Open source
      p
        | Easy to build,
        a(href="https://github.com/AlexJoom/gr-iot-temperature-sensor",target="_blank")  open source
        |  low cost solution

  .row
    .col-sm-6
      h2 Always online
      p
        | No need to have internet or GSM access in order to collect temperature data.
        br
        | Online/real time access to measurements via multiple devices (PC & Mobile)

    .col-sm-6
      h2 Never worry again!
      p Receive notifications when something goes wrong. Export all your data easily to multiple formats