extends layout

block content
  h1 Temperature demo
  p.lead An end-to-end solution demonstrating temperature measurement via TTN
  hr
  .row
    .col-sm-6
      h2 Open source
      p
        | Easy to build,
        a(href="https://github.com/AlexJoom/gr-iot-temperature-sensor",target="_blank")  open source
        |  low cost solution

    .col-sm-6
      h2 Wifi/GSM free
      p No need to have internet or GSM access in order to collect temperature data.

    .col-sm-6
      h2 Plug 'n play
      p You just turn the sensor on and it will start transporting temperature data into your account.

    .col-sm-6
      h2 Always online
      p Online/real time access to measurements via multiple devices (PC & Mobile)

