@import "themes/flatly/_variables";

@import "lib/bootstrap/bootstrap";
@import "lib/bootstrap-social";
@import "lib/font-awesome/font-awesome";

@import "themes/flatly/_flatly";

// Scaffolding
// -------------------------
a,a:hover, a:active, a:focus{
  outline: none;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
  color:white;
}
html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 100px;
  margin-bottom: 75px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}


// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}

// states
.state
{display:none}

.state.active
{display:inherit;}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

.caret{
  vertical-align:4px;
}

.navbar
{
  background-color: #41403e;
  text-transform: uppercase;
  font-size:17px;
}
.navbar-brand
{
  padding-top:10px;
}

.navbar, .navbar-brand, .navbar-brand {
  height: 80px;
}
.navbar-brand > img
{
  height:60px;
}
.navbar-nav > li > a{
  padding-top:28px;
  padding-bottom:28px;
}

.solution-info img
{
  display:block;
  margin:10px;
}